.dropdown {
    margin-right: 5rem;
}

.table th, .table td {
    padding: 1rem;
}

.bucket-body input {
    text-align: center;
}

.bucket-btn {
    border: none;
    padding: 0.3rem;
    border-radius: 1.2rem;
    margin-right: 1rem;
    float: right;
    font-size: 14px;
}

.login-form, .register-form {
    margin-top: 1rem;
    height: 70vh;
}

.login-form input, .register-form input {
    border-radius: 1rem;
    border: none;
    background-color: rgba(83, 81, 78, 0.092);
    padding: 0.7rem;
    width: 12rem;
}

.login-ctnr, .register-ctnr {
    gap: 1rem;
    position: relative;
    /* border: 1px solid purple; */
}

.login-btn, .register-btn {
    border: none;
    border-radius: 0.5rem;
    background-color: purple;
    padding: 0.7rem;
    width: 12rem;
}

.message {
    width: 100%;
    height: 2rem;
}

/* index.html */
.no-border {
    border-style: none;
    position: absolute;
}

.delete {
    border-radius: 50%;
    border: none;
    background-color: red;
    width: 1.7rem;
    height: 1.7rem;
    color: white;
}

.pie-chart {
    width: 30rem !important;
    height: 30rem !important;
    margin: 0 auto;
}

/* monthly.html */
.transaction {
    height: 2rem;
    text-align: center;
}

/* .type-ctnr {
    border: 1px solid red;
} */

.tooltip-icon {
    border: 1px solid black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
}

.tooltip-icon::before,
.tooltip-icon::after  {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    width: 15rem;
}

.tooltip-icon:hover::before {
    padding: 0.5rem;
    content: attr(data-tooltip);
    font-size: 12px;
    border-radius: 1rem;
    height: max-content;
}

.tooltip-icon:hover::after {
    /* Make the tooltip arrow */
	content: '';
    position: absolute;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: black;
	border-top: 0;
    transform: translateX(-50%) translateY(-100%);
    background-color: white;
}

/* transaction.html */
.money-ctnr, .transaction-ctnr {
    margin-top: 3rem;
}

.transaction-form, .wrap-ctnr {
    margin-top: 2rem;
}
/* 
.inner-transaction-ctnr {
    border: 1px solid green;
} */

.transaction-form .bucket-btn {
    margin-left: 1rem;
}


/* JS Use */
.saved {
    background-color: white;
    border: none;
    pointer-events: none;
}
.saved:focus {
    outline: none;
}

/* Credit */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/gap#flex_layout */
/* https://blog.hubspot.com/website/css-border-radius-circle */
/* https://stackoverflow.com/questions/37621020/setting-width-and-height */
/* https://projects.verou.me/bubbly/ */
/* https://www.youtube.com/watch?v=ujlpzTyJp-M */