{% extends "layout.html" %}

{% block title %} 
    Homepage 
{% endblock %}

{% block main %}
<div class="bucket-ctnr text-center">
	<h1>Money Buckets</h1>
	<h3 class="get-started">
		{% if not existing %}
			You don't have any buckets made. Here's an example to get you started!
		{% endif %}
	</h3>
	<form action="/" method="post" class="bucket-form d-inline-block">
		<table class="table bucket-table">
			<thead class="bucket-head">
				<tr>
					<th>Desired Buckets</th>
					<th>% Allocation</th>
					<th>Available For Use</th>
				</tr>
			</thead>
			<tbody class="bucket-body">
				{% if existing %}
					{% for bucket in existing %}
						<tr>
							<td><input class="bucket-input bucket-name saved existing" type="text" name="bucket" placeholder="Enter bucket name" value="{{ bucket.name }}" readonly></td>
							<td><input class="bucket-input allocation saved existing" type="number" name="allocation" placeholder="Desired % allocation" value="{{ bucket.percent_allocation }}" readonly></td>
							<td><input class="for-use saved" type="text" name="for-use" placeholder="--" value="{{ usd((bucket.percent_allocation / 100) * money) }}" readonly></td>
							<td class="no-border"><input class="delete" type="hidden" value="-"></td>
						</tr> 
					{% endfor%}
				{% else %}
					<tr>
						<td><input class="bucket-input bucket-name saved" type="text" name="bucket" placeholder="Enter bucket name" value="Basic Needs" readonly></td>
						<td><input class="bucket-input allocation saved" type="number" name="allocation" placeholder="Desired % allocation" value="20" readonly></td>
						<td><input class="for-use saved" type="text" name="for-use" placeholder="--" readonly></td>
						<td class="no-border"><input class="delete" type="hidden" value="-"></td>
					</tr> 
					<tr>
						<td><input class="bucket-input bucket-name saved" type="text" name="bucket" placeholder="Enter bucket name" value="Investment Account" readonly></td>
						<td><input class="bucket-input allocation saved" type="number" name="allocation" placeholder="Desired % allocation" value="70" readonly></td>
						<td><input class="for-use saved" type="text" name="for-use" placeholder="--" readonly></td>
						<td class="no-border"><input class="delete" type="hidden" value="-"></td>
					</tr>
					<tr>
						<td><input class="bucket-input bucket-name saved" type="text" name="bucket" placeholder="Enter bucket name" value="Fun" readonly></td>
						<td><input class="bucket-input allocation saved" type="number" name="allocation" placeholder="Desired % allocation" value="10" readonly></td>
						<td><input class="for-use saved" type="text" name="for-use" placeholder="--" readonly></td>
						<td class="no-border"><input class="delete" type="hidden" value="-"></td>
					</tr>
				{% endif %}
			</tbody>
		</table>
		<div class="first-layer-btns">
			<button class="bucket-btn edit-btn">Edit</button>
		</div>
		<div class="second-layer-btns d-none">
			<button class="bucket-btn save-btn">Save</button>
			<button class="bucket-btn add-btn">Add Row</button>
			<button class="bucket-btn delete-btn">Delete</button>
			<button class="bucket-btn cancel-btn">Cancel</button>
		</div>
		<div class="third-layer-btns d-none">
			<button class="bucket-btn back-btn">Back</button>
		</div>
	</form>
</div>
<div class="chart-ctnr d-flex">
	<!-- <canvas class="pie-chart"></canvas> -->
	{% if existing %}
		<canvas class="pie-chart made"></canvas>
	{% else %}
		<canvas class="pie-chart"></canvas>
	{% endif %}
</div>
{% endblock %}

{% block js %}
	<script src="static/buckets.js"></script>
{% endblock %}

<!-- LESSONS -->
<!-- In order for request.form.get to work, the input must be directly within form tag -->
<!-- form MUST be the parent, not grandparent or anything else -->