{% extends "layout.html" %}

{% block title %} 
    Add Cash/Transaction
{% endblock %}

{% block main %}
<div class="message text-center">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
<div class="money-ctnr text-center">
    <h1>Add Money to Balance</h1>
    <form action="/transaction" method="post" class="transaction-form d-inline-block">
        <div class="inner-money-ctnr d-inline-block">
			<span>$</span>
			<input class="money text-center" type="text" name="money" step="0.01" placeholder="--">
		</div>
        <button class="bucket-btn transaction-btn submit-btn">Submit</button>
    </form>
</div>
<div class="transaction-ctnr text-center">
    <h1>Add Transaction</h1>
    <h3 class="get-started">
        {% if not placeholder %}
            You don't have any money buckets made. Click <a href="/">here</a> to get started! 
        {% endif %}
    </h3>
	<form action="/transaction" method="post" class="transaction-form d-inline-block">
		<select name="buckets" class="transaction">
			<option value="buckets" disabled selected>-Select a Bucket-</option>
				{% for bucket in existing %}
					<option value="{{ bucket.name }}">{{ bucket.name }}</option>
				{% endfor%}
		</select>
		<div class="type-ctnr d-inline-block">
			<input class="type" type="text" name="type" placeholder="Item Type">
			<div class="position-relative d-inline-block position-relative">
				<span class="tooltip-icon d-inline-block" 
				data-tooltip='Item type as in grocery, clothes, toys, lunch, etc. Try to be general and consistent with them;
				for example, if you have already used "clothes" as a type, stick with that instead of saying "pants" next time.
				Another example is sticking with "dinner" rather than specifying "hamburger" or "ribs."'>?
				</span>
			</div>
		</div>
        <div class="wrap-ctnr">
            <div class="inner-transaction-ctnr d-inline-block">
                <span>$</span>
                <input class="transaction" type="number" name="transaction" step="0.01" placeholder="--">
                <button class="bucket-btn transaction-btn submit-btn">Submit</button>
            </div>
        </div>
	</form>
</div>
{% endblock %}

{% block js %}
	<script src="static/transaction.js"></script>
{% endblock %}
